{% extends 'main/base.html' %}

{% block content %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="">
      <div class="sidebar-header">
        <h3>Tasks Keeper</h3>
      </div>
      <ul class="list-unstyled components">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Filters</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">Finisehd</a>
            </li>
            <li>
              <a href="#">Close to deadline</a>
            </li>
            <li>
              <a href="#">In progres</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Lists</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
          {% for taskBar in taskBars%}
            <li>
                <a href="#">{{taskBar.name|default:"List without name"}}</a>
            </li>
          {% endfor %}
          </ul>
        </li>

      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Export to pdf</a>
        </li>
        <li>
          <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Import notes</a>
        </li>
      </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" >
      <div class="col-md-12 pr-5">
        <div class="row d-flex flex-row-reverse" >
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <!-- Example single danger button -->
                <div class="btn-group w-75 ml-5 mb-2">
                  <button type="button" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort notes by </button>
                  <div class="dropdown-menu w-100" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <a class="dropdown-item" href="#">Last modified</a>
                    <a class="dropdown-item" href="#">Title</a>
                    <a class="dropdown-item" href="#">Created at</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h2 class="mb-2">{{ taskBars.0.name }}</h2>
              </div>  
              <div class="col-md-4">
                <form class="form-inline d-flex flex-row-reverse mr-2">
                  <div class="input-group w-100 my-4">
                    <input type="text" class="form-control ml-2" id="inlineFormInputGroup" placeholder="Search">
                    <div class="input-group-append"><button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row ml-5 mr-2">
          <div>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header"> Header </div>
                  <div class="card-body">
                    <h4>Title</h4>
                    <p>Some quick example text to build on the card title .</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header"> Header </div>
                  <div class="card-body">
                    <h4>Title</h4>
                    <p>Some quick example text to build on the card title .</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header"> Header </div>
                  <div class="card-body">
                    <h4>Title</h4>
                    <p>Some quick example text to build on the card title .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
